{{!< default}}

<main class="site-main gh-outer">


    {{#tag}}

   
    <div class="term-container gh-canvas">
        <section class="term">
            <h1 class="term-name">{{name}}</h1>
            {{#if description}}
                <div class="term-description cs-excerpt">{{description}}</div>
            {{/if}}
        </section>
    </div>
    {{/tag}}

    <div class="post-feed gh-inner cs-tag-loop-grid">
        {{#foreach posts}}
            {{> "loop-cs"}}  <!-- loop-cs helps with CS article exception to show link for CS services -->
        {{/foreach}}
    </div>

    {{pagination}}

</main>